/************* Quebra 1 ************/

/* Pequenas alterações para o conteúdo ficar certo */


@media only screen and (max-width: 1200px) {
    .container {
        display: none;
    }

    .Produtos {
        margin-top: 10vh;
        margin-bottom: 0;
    }

    .Feedbacks {
        overflow-x: hidden;
        margin-top: 10vh;
    }

}

@media only screen and (max-width: 900px) {

    footer .ContainerGrid .ContainerLogo .ImgLine {
        display: none;
    }
}


/************* Quebra 2 ************/

/* Some com o Menu Hamburguer */

@media only screen and (min-width: 800px) {
    header .menu {
        display: none;
    }
}


/* Alterar o conteúdo para ficar igual o figma */

@media only screen and (max-width: 800px) {

    /************* HEADER ************/

    header {
        border-radius: 0 0 20px 20px;
    }

    header .nav .ul a {
        display: none;
    }

    header .menu {
        padding-left: 30px;
        padding-top: 15px;
    }

    /* Menu Hamburguer */
    header .menu .menu-faketrigger {
        position: absolute;
        z-index: 1000;
        width: 40px;
        height: 50px;
        opacity: 0;
        cursor: pointer;
    }

    header .menu .menu-lines {
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;

        margin-top: 10px;
        margin-left: 5px;
    }

    header .menu .menu-lines span {
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 10px;
        background-color: black;
        border-radius: 3px;
        transition: all ease 0.5s;
    }

    /* Aqui eu aplico a cor ao menu hamburguer quando o checked está ativo */
    .menu .menu-faketrigger:checked ~ .menu-lines span {
        /* background-color: #85C5DF; */
    }

    /* Aqui é cada um dos span, no caso o 1, o 2 e o 3. Vai fazer o efeito de transformar o menu em um X  */

    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1) {
        transform-origin: 0% 0%;
        transform: rotate(45deg) scaleX(1.25);
    }

    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2) {
        opacity: 0;
    }

    .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3) {
        transform-origin: 0% 100%;
        transform: rotate(-45deg) scaleX(1.25);
    }

    .menu ul {
         position: absolute;
         z-index: 998;
         left: 0;
         top: 0;
         width: 40%;
         height: 50vh;
         padding-top: 100px;
         background-color: #ededed;

         margin-left: -40%;
         transition: all ease 0.4s;

         border-radius: 0 0 5px 5px;
    }

    .menu .menu-faketrigger:checked ~ ul {
        margin-left: 0;
    }

    .menu ul li {
        padding: 10px 30px;
    }

    .menu ul img {
        width: 20%;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-size: 22px;
        transition: all ease 0.5s;
        font-family: 'Inter-Regular';
    }

    .menu ul li a:hover {
        color: white;
        font-family: 'Inter-Medium';
    }



    /************* BODY ************/


    /*********** Banner **********/

    .Banner {
        display: flex;
        flex-direction: column;

        max-height: fit-content;
    }

    .Banner .ImgBanner {
        width: 100%;
        background-image: url('https://s3-alpha-sig.figma.com/img/5ee0/b41e/47062b7aab48af9a2fb5e29244517f86?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GopiR6nn8rPL6ZP0iLQkoFpzXhoD7STPb2w8rYFWOhJOAk~Rj7veV80JKT4PoUE0EXwW2zey-UpSkuKdnrup7j7PlnCfYbinsSQy~UIz3d8TUkxXELPw2UCV8kIAPUzKaw2pg2EM2U4QzSbF8~Q0NsM9vYYXIkeCEAVVAE3r613GjaDHUkyvyROF9cHOUQfsZbnn76pLEBytis0qaE7WDBWcjXJdZuPjFNguhKi9rKJ3ZhCM5ocqB3nV8-Kddne~dXCVyn0tM2ct2vw18RguoTC~qX9kQ1Fb0dknH8s~K9naSVdpVHsI~lGdTZbgb4DFM6O0KH38B3iT15nkrqUh2Q__');

        border-radius: 20px 20px 0 0;
    }

    .Banner .Qualidade {
        height: 350px;
        border-radius: 0 0 20px 20px;

        padding: 10%;
    }

    .Banner .Qualidade h1 {
        font-size: 6vw;
        padding-top: 5%;
    }

    .Banner .Qualidade p {
        font-size: 3.2vw;
        padding-top: 5%;

        height: 100%;
    }

    /*********** Sobre **********/

    .car-section {
        display: none;
    }


    .Sobre {
        margin-top: -10vh;
        transition: none;

        display: flex;
        flex-direction: column-reverse;
    }

    .Sobre .TextoVertical {
        width: 80vw;
        height: 20%;

        background-color: #85C5DF;
        border-radius: 0 20px 20px 0;

        display: flex;
        justify-content: center;

        border-radius: 20px 20px 0 0;

        /* rotate: -90deg; */
    }

    .Sobre .TextoVertical h1 {
        font-family: 'Typo-Round-Bold';
        font-size: 5vw;

        writing-mode: horizontal-tb;
        align-self: center;
        text-align: right;

        text-transform: uppercase;
    }

    .Sobre .Valores {
        border-radius: 0 0 20px 20px;
        width: 100%;

        height: 50%;
    }

    .Sobre .Valores .Pt1 {
        display: none;
    }

    .Sobre .Valores .Pt2 {
        display: flex;
        flex-direction: column;

        height: 70%;
    }

    .Sobre .Valores .Pt2 p {
        font-size: 2.5vw;
    }

    .Sobre .Valores .Pt2 img {
        rotate: 90deg;
        height: 3%;
    }

    .Sobre .Valores .Pt3 {
        width: 100vw;
    }

    .Sobre .Valores .Pt3 p {
        font-size: 2.2vw;
    }

    .Sobre .Valores .Pt3 .Def2 {
        display: none;
    }

    /*********** Produtos **********/

    .Produtos .ForaCaixa {
        margin-top: -6%;
        margin-left: 38%;
    }

    .Produtos .ParteCima {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .Produtos .ParteCima .Card {
        margin-top: 15px;

        width: 40%;
        height: 50%;
    }

    .Produtos .ParteCima .Card:hover {
        transform: rotateX(180deg);
        transition: 2s;

        background-color: #85C5DF;
    }

    .Produtos .ParteCima .Card h1 {
        font-size: 1.7vw;
    }

    .Produtos .ParteCima .Card p {
        display: none;
    }

    /*********** Feedbacks **********/

    .Feedbacks .ForaCaixa {
        margin-left: 40%;
    }

    .Feedbacks .Feeds {
        justify-self: center;
        width: 40vw;
        min-width: 350px;

        gap: 10%;

        overflow-x: auto;
    }

    .Feedbacks .Feeds .FeedM {
        width: 50%;
        height: 70%;

        min-width: 300px;
    }

    .Feedbacks .Feeds .FeedM .FotoPerfil {
        margin-top: -12%;
    }

    .Feedbacks .Feeds .FeedM .TextoPerfil {
        font-size: 1.8vw;
    }

    .Feedbacks .Feeds .FeedM .NomePerfil {
        font-size: 2.2vw;
    }

    .Feedbacks .Feeds .FeedP {
        width: 50%;
        height: 70%;

        min-width: 300px;
    }

    .Feedbacks .Feeds .FeedP .FotoPerfil {
        margin-top: -12%;
    }

    .Feedbacks .Feeds .FeedP .TextoPerfil {
        font-size: 1.7vw;
    }

    .Feedbacks .Feeds .FeedP .NomePerfil {
        font-size: 2.2vw;
    }

    /************* FOOTER ************/

    footer {
        max-height: 260px;
    }

    .ContainerGrid .ContainerLogo {
        width: 35%;
    }

    .ContainerGrid .ContainerLogo .Navegacao {
        margin-left: 20px;
        height: 50%;
    }

    .ContainerGrid .ContainerLogo .Navegacao a {
        width: 15vw;
    }

    .ContainerGrid .Contato {
        position: relative;
        top: 20vh;

        height: 10%;
        margin-left: -15vw;
        margin-right: 5vw;
    }

    .ContainerGrid .Contato .Email {
        width: 0;
    }

    .ContainerGrid .Contato .Email p {
        margin-left: 15px;
        font-size: 1.8vw;
    }

    .ContainerGrid .Contato .Endereco {
        display: none;
    }

    .ContainerGrid .ConteinerMapa {
        position: relative;
        width: 300px;
        height: 200px;

        margin-left: 15px;
    }


}


/************* Quebra 3 ************/

/* Medidas necessárias abaixo de 450 ( ajustar o conteúdo ) */

@media only screen and (max-width: 500px) {

    /* HEADER */

    header .menu .menu-faketrigger {
        width: 25px;
        height: 30px;
    }

    
    header .menu .menu-lines {
        margin-top: -0px;
    }
    
    header .menu .menu-lines span {
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 10px;
        background-color: black;
        border-radius: 3px;
        transition: all ease 0.5s;
    }

    /* fOOTER */

    .ContainerGrid .Contato {
        margin-right: 15vw;
    }

    .menu ul li a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        transition: all ease 0.5s;
    }

    header .nav img {
        width: 20%;
    }

}