@font-face {
    font-family: Typo-Round-Bold;
    src: url(Font/Typo_Round_Bold_Demo.otf);
}

@font-face {
    font-family: Typo-Round-Regular;
    src: url(Font/Typo_Round_Regular_Demo.otf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(Font/static/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: Inter-Regular;
    src: url(Font/static/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: Inter-MediumItalic;
    src: url(Font/static/Inter_18pt-MediumItalic.ttf);
}



* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    background-color: #464B4F;

    display: flex;
    flex-direction: column;
    align-items: center;
}

body,
html {
    overflow-x: hidden;
}


/************ HEADER ***********/

header {
    width: 100vw;
    height: auto;

    border-bottom: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
    background-color: #C2C7CA;
}

header .nav .ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 10px;
}

/* Texto */
header .nav .ul a {
    font-family: 'Typo-Round-Regular';
    text-decoration: none;
    color: #000000;

    font-size: 1.8vw;
}

header .nav .ul a:hover {
    color: #F6880C;
    transition: 0.2s;
}


/************ BODY ***********/


/********** Banner *********/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Banner {
    display: flex;
    flex-direction: row;

    margin-top: 10vh;

    width: 80vw;
    max-height: 450px;
}

.ImgBanner {
    display: flex;
    align-items: center;
    width: 50%;
}

.Banner .Qualidade {
    background-color: #D8EFF5;

    display: flex;
    flex-direction: column;
    padding: 30px;

    text-align: center;
    gap: 20%;

    border-radius: 0 20px 20px 0;
}

.Banner .Qualidade h1 {
    font-family: 'Typo-Round-Bold';
    font-size: 3vw;

    padding-top: 10%;
}

.Banner .Qualidade p {
    font-family: 'Typo-Round-Regular';
    font-size: 2.2vw;
}

.Banner .Qualidade strong {
    color: #F6880C;
}

/********** Sobre *********/

/* Os elementos que tiverem a classe valores não vão aparecer */
.Sobre {
    opacity: 0;
    /* O filter vai fazer os elementos aparecendo conforme o tempo */
    /* filter: blur(15px); */
    /* Os efeitos serão aplicados a todos os elementos */

    transition: all 2s;
    transform: translateX(-100%);
    /* transition: all 100000000s;
    transform: translateY(50%); */
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 3s; 
    transform: translateX(0%);
}


.Sobre {
    display: flex;
    flex-direction: row;

    margin-top: -90vh;

    width: 80vw;
    height: 500px;

    border-radius: 20px;
}

.Sobre .TextoVertical {
    width: 20%;
    background-color: #85C5DF;
    border-radius: 0 20px 20px 0;

    display: flex;
    justify-content: center;
}

.Sobre .TextoVertical h1 {
    font-family: 'Typo-Round-Bold';
    font-size: 3.3vw;

    writing-mode: vertical-rl;
    align-self: center;
    text-align: right;

    text-transform: uppercase;
}

/********** Sobre / Valores *********/

.Sobre .Valores {
    background-color: #C4E9F9;
    width: 80%;
    border-radius: 20px 0 0 20px;

    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sobre .Valores .Pt1 {
    height: 40%;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Sobre .Valores .Pt2 {
    height: 20%;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Sobre .Valores .Pt3 {
    height: 40%;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/********* Valores / Textos *********/
.Sobre .Valores .Pt1 p {
    font-family: 'Inter-MediumItalic';
    font-size: 1.7vw;

    text-align: center;
}

.yellow {
    color: #F6880C;
}

.Sobre .Valores .Pt2 p {
    font-family: 'Typo-Round-Bold';
    font-size: 1.7vw;

    text-align: center;
}

.Sobre .Valores .Pt3 p {
    font-family: 'Inter-MediumItalic';
    font-size: 1.7vw;

    text-align: center;
}

.Sobre .Valores .Def1 {
    width: 40%;
}

.Sobre .Valores .Def2 {
    width: 30%;
}

/********** PRODUTOS *********/

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10vh;
    /* margin-bottom: 5vh; */
    width: 80vw;
    height: 90vh;

    background-color: #A4C1CE;
    border-radius: 20px;
    transition: opacity 1.5s ease-in-out;
}

.container.hiddenBox {
    opacity: 0; /* Esconde o container */
    pointer-events: none; /* Impede interações enquanto está oculto */
}

.bateria {
    position: absolute; /* Torna a bateria independente do layout */
    top: 0;
    left: 0;
    width: 100%; /* Ajuste a largura conforme necessário */
    height: 100%; /* Ajuste a altura conforme necessário */
    transition: opacity 1s ease-in-out;
}

.imgProdutos {
    transition: opacity 1.5s ease-in-out;
    cursor: pointer;
}

.imgDesaparecendo {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}




.Produtos {
    background-color: #A4C1CE;
    /* height: 550px; */
    /* max-height: 550px; */
    width: 80vw;

    margin-top: -85vh;
    border-radius: 20px;

    padding: 10px;

    z-index: -1;
}

.Produtos .ForaCaixa {
    width: 20vw;
    height: 50px;

    background-color: #85C5DF;
    border-radius: 20px;

    margin-top: -3%;
    margin-left: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Produtos .ForaCaixa p {
    font-family: 'Typo-Round-Bold';
    font-size: 1.7vw;

    text-align: center;
}

.Produtos .ParteCima {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 1.5%;
}

.Produtos .ParteCima .Card {
    height: 40%;
    width: 22%;

    border-radius: 15px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    padding: 15px;
}

.Produtos .ParteCima .Card .ConteinerImg {
    width: 100%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 10%;
}

.Produtos .ParteCima .Card h1 {
    font-size: 1.3vw;
    font-family: 'Inter-Medium';
}

.Produtos .ParteCima .Card p {
    font-size: 0.9vw;
    font-family: 'Inter-Medium';
    color: #757575;

    margin-top: 8%;
}

/********** FEEDBACKS *********/

.Feedbacks {
    background-color: #A4C1CE;
    height: 500px;
    width: 100vw;

    margin-top: 15vh;

    padding: 10px;

}


.Feedbacks .ForaCaixa {
    width: 20vw;
    height: 50px;

    background-color: #85C5DF;
    border-radius: 20px;

    margin-top: 2%;
    margin-left: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Feedbacks .ForaCaixa p {
    font-family: 'Typo-Round-Bold';
    font-size: 1.7vw;

    text-align: center;
}

.Feedbacks .Feeds {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 90%;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: -1%;
}

.Feedbacks .Feeds .FeedM {
    height: 50%;
    width: 28%;

    border: 1px solid #0F8BBE;
    border-radius: 20px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Feedbacks .Feeds .FeedM .FotoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 46%;

    margin-top: -18%;
}

.Feedbacks .Feeds .FeedM .TextoPerfil {
    width: 85%;
    font-size: 1vw;
    text-align: center;

    font-family: 'Inter-Regular';
}

.Feedbacks .Feeds .FeedM .NomePerfil {
    font-family: 'Inter-Medium';
    color: #0962B6;
    font-size: 1.3vw;
}

.Feedbacks .Feeds .FeedM .Aspas {
    width: 80%;

    display: flex;
    justify-content: flex-end;
}

/************** FeedP *************/

.Feedbacks .Feeds .FeedP {
    height: 65%;
    width: 32%;

    border: 1px solid #0F8BBE;
    border-radius: 20px;

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Feedbacks .Feeds .FeedP .FotoPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 46%;

    margin-top: -10%;
}

.Feedbacks .Feeds .FeedP .TextoPerfil {
    width: 85%;
    font-size: 1.1vw;
    text-align: center;

    font-family: 'Inter-Regular';
    padding: 3%;
}

.Feedbacks .Feeds .FeedP .NomePerfil {
    font-family: 'Inter-Medium';
    color: #0962B6;
    font-size: 1.3vw;
}

.Feedbacks .Feeds .FeedP .Aspas {
    width: 80%;

    display: flex;
    justify-content: flex-end;
}


/********** FOOTER *********/

footer {
    height: 400px;
    max-height: 400px;
    width: 100vw;
    background-color: #C2C7CA;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerGrid {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: row;
}

.ContainerGrid .ContainerLogo {
    display: flex;
    flex-direction: row;

    width: 50%;
    height: 100%;
    justify-content: space-between;
}

.ContainerGrid .ContainerLogo .Navegacao {
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: auto;
}

.ContainerGrid .ContainerLogo .Navegacao a {
    font-family: 'Typo-Round-Regular';
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
}

/********** FOOTER / Contato *********/

.ContainerGrid .Contato {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 3%;
}

.ContainerGrid .Contato .Email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 84%;
    height: auto;
}

.ContainerGrid .Contato .Email p {
    font-family: 'Inter-Regular';
    font-size: 1.2vw;
}

.ContainerGrid .Contato .Endereco {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 40%;
    width: 100%;
}

.ContainerGrid .Contato .Endereco h1 {
    font-family: 'Inter-Regular';
    font-size: 2vw;
}

.ContainerGrid .Contato .Endereco p {
    font-family: 'Inter-Regular';
    font-size: 1.2vw;
}

/********** FOOTER / Mapa *********/

.ContainerGrid .ConteinerMapa {
    position: relative;
    width: 600px;
    height: 350px;

    margin-left: 10px;
}

.ContainerGrid .ConteinerMapa iframe {
    width: 100%;
    height: 100%;
}

/********** Animação Carro *********/

.car-section {
    height: 100vh;
    width: 100vw;

    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.car {
    position: absolute;
    bottom: 100px;
    left: -200px;
    width: 200px;
    opacity: 0;
    transform: rotate(-10deg);
    transition: all 2.2s ease-in-out;
}

.car img {
    width: 100%;
}

/* Animação de drift atravessando a tela */
.car.drift {
    left: 100vw;
    opacity: 1;
    transform: rotate(12deg);
}

/* Carro parado na tela */
.car.appear {
    transition: none;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%) rotate(0deg);
}

