body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    transition: opacity 1.5s ease-in-out;
}

/* Animação para desaparecer o container */
@keyframes desaparecer {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Classe para desaparecer o container */
.hiddenBox {
    animation: desaparecer 1.5s forwards;
    pointer-events: none; /* Evita cliques durante o desaparecimento */
}

.hiddenBoxFinal {
    display: none; /* Esconde o container permanentemente */
}

.imgProdutos {
    cursor: pointer;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.imgProdutos:hover {
    transform: scale(1.1); /* Efeito ao passar o mouse */
}

/* Quando clicada, a imagem amplia antes de desaparecer */
.imgDesaparecendo {
    transform: scale(1.5); /* Amplia a imagem */
    opacity: 0; /* Desaparece junto com o container */
}
